body{
    margin-top: 45px;
    margin-left: 15px;
    background: url("https://i.etsystatic.com/16851582/r/il/235a28/1703320657/il_fullxfull.1703320657_bj7z.jpg");
}

.board {
    position: relative;
    display: inline-block;
    border-style: dotted;
    border-width: 5px;
    border-radius: 10px;
    border-color: black;
    opacity: 0.8;
}
.grid {
    --cell-size: 100px;
    display: grid;
    grid-template-columns: repeat(6, var(--cell-size));
    grid-template-rows: repeat(6, var(--cell-size));
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: #2C66A7;
    border: solid 1px white;
}

.boats {
    position: absolute;
    top: 0;
    pointer-events: none;
}

.boat {
    border-radius: 50%;
    background-image: url("../donut.png");
    background-size: cover;
}
.x1 {
    grid-column-start: 1;
}

.x2 {
    grid-column-start: 2;
}
.x3 {
    grid-column-start: 3;
}
.x4 {
    grid-column-start: 4;
}
.x5 {
    grid-column-start: 5;
}
.x6 {
    grid-column-start: 6;
}
.y1 {
    grid-row-start: 1;
}
.y2 {
    grid-row-start: 2;
}
.y3 {
    grid-row-start: 3;
}
.y4 {
    grid-row-start: 4;
}
.y5 {
    grid-row-start: 5;
}
.y6 {
    grid-row-start: 6;
}

img {
    max-width: 80px;
    margin-left: 10px;
    margin-top: 20px;
}
