<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="index.css" href="../static/index.css">
</head>
<body>
    <div class="board">
        <div class="grid">
            <div th:each="i : ${#numbers.sequence(1, 36)}" class="cell"></div>
        </div>
        <div class="grid boats">
            <div th:each="boat : ${boats}" class="boat" th:class="|cell boat x${boat[0]} y${boat[1]}|">boat</div>
        </div> 
    </div>
</body>
</html>