<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/index.css}" href="../static/index.css">

    <title>Pataugeoire</title>
</head>
<body>
    <h1>Hello ! Bienvenue dans la Pataugeoire</h1>
    
    <div class="sky">
        <div class="sun"></div> 
        <div class="moon"></div> 
        <div id="background-wrap">
          <div class="x1">
              <div class="cloud"></div>
          </div>
      
          <div class="x2">
              <div class="cloud"></div>
          </div>
      
          <div class="x3">
              <div class="cloud"></div>
          </div>
      
          <div class="x4">
              <div class="cloud"></div>
          </div>
      
          <div class="x5">
              <div class="cloud"></div>
          </div>
          <article>
            <h2>...Bataille Navale...</h2>
            <div class="paragraphe">
                <p>Le but du jeu est de couler les quatre bateaux de votre adversaire.
                <br>Ces derniers occupent une à trois cases <br>et sont positionés verticalement ou horizontalement sur une grille de 36 cases.</p>
            </div>
            </article>
        <!--button-->
        <form action="/game" method="post">
            <button class="btn btn-dark my-1 buttonOne">Envoie la bagarre</button>
        </form>
      </div>
      </div>
      
      <div class="sea">
        <div class="island"></div>
        <div class="boat">
      <div class="wrap">
          <div class="main">
              <div class="boat-top-layer">
                  <div class="top">
                      <div class="pole"></div>
                      <div class="help"><span></span></div>
                  </div>
                  <div class="bottom"></div>
              </div>
              <div class="boat-mid-layer">
                  <div class="top"></div>
                  <div class="bottom"></div>
              </div>
              <div class="boat-bot-layer">
                  <div class="top"></div>
                  <div class="bottom"></div>
              </div>
          </div>
      </div>
      <div class="water">
          <div class="drops clearfix drops-1">
              <span class="drop drop-a"></span>
              <span class="drop drop-b"></span>
              <span class="drop drop-c"></span>
              <span class="drop drop-d"></span>
              <span class="drop drop-e"></span>
              <span class="drop drop-f"></span>
              <span class="drop drop-g"></span>
              <span class="drop drop-h"></span>
          </div>
          <div class="drops clearfix drops-2">
              <span class="drop drop-a"></span>
              <span class="drop drop-b"></span>
              <span class="drop drop-c"></span>
              <span class="drop drop-d"></span>
              <span class="drop drop-e"></span>
              <span class="drop drop-f"></span>
              <span class="drop drop-g"></span>
              <span class="drop drop-h"></span>
          </div>
      </div>
      </div>
      </div>
      
   
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

</html>